/*00-General CSS settings dnb-mobile*/
/*AUTHOR: Tobias Buchinger*/
/*DATE CREATED: 2016.11.11*/

/*CSS selectors*/
	/*SOURCE: http://www.w3schools.com/cssref/css_selectors.asp*/
	/*.class*/
	/*#id*/
	/* * -> all elements*/
	/*a:state -> lind in state (link, active, hover, visited)*/

/*Bootstrap global default settings*/
	/*font-size: 14px*/
	/*line-height: 1.428*/
	/*<p> bottom margin 10px*/
	/**/

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
}

h2 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;	
}

.text {
	margin-left: 5px;
}


/* TABLES */
	.htbl { /* use for tabel headings*/
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 1.5em;
	}

	.key { /* use for field name */
		font-family: 'Noto Sans', sans-serif;
		font-weight: 700;
		/*font-size: 1.0em;*/
	}

	.val { /* use for field content*/
		font-family: 'Noto Sans', sans-serif;
		font-weight: 400;
	}

/* NAV BAR */

	/* NAV logo */

	/*scale logo*/
	.navbar-left>a>img {
		max-width: 100%; 
	}

	.navbar-left{
		width: 80%;
		display: inline-block;
		vertical-align: middle;
		padding-right: 5%;
	}

	.nav-button {
		display: inline-block;
		vertical-align: middle;
	}
	

	/* verticalli center logo and hamburger*/
	/*.ndb-logo-xs {
	}

	.nav-button {
	}*/

	/*NAVBAR COLOR SCHEME*/
	/*SOURCE: http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0*/

	.navbar-default {
		background-color: #ffffff;
		border-color: #ffffff;
		margin-top: 5%;
		}

	/* NAV entries text and background color*/
		.navbar-default .navbar-text {
			color: #4d4d4d;
		}
		.navbar-default .navbar-nav > li > a {
			color: #4d4d4d;
		}
		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus {
			color: #e6e6e6;
			background-color: #4d4d4d;
		}

	/* NAV DROPDOWN-MENU may be deleted if we dont use a dropdown-menu!!! */
		.navbar-default .navbar-nav > li > .dropdown-menu {
			background-color: #ffffff;
		}
		.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
			color: #4d4d4d;
		}
		.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
		.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
			color: #e6e6e6;
			background-color: #4d4d4d;
		}
		.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
			background-color: #4d4d4d;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
			color: #e6e6e6;
			background-color: #4d4d4d;
		}

	/*NAV entries */

		/* marks the current page */
		.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > .active > a:hover,
		.navbar-default .navbar-nav > .active > a:focus {
			color: #e6e6e6;
			background-color: #4D4D4D;
		}

		/* dont know what this does....*/
		.navbar-default .navbar-nav > .open > a,
		.navbar-default .navbar-nav > .open > a:hover,
		.navbar-default .navbar-nav > .open > a:focus {
			color: #e6e6e6;
			background-color: #4d4d4d;
		}

	/* NAV collapsed menue icon */
		.navbar-default .navbar-toggle {
			border-color: #4d4d4d;
		}
		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
			background-color: #4d4d4d;
		}

		/* NAV icon-bar */
		.navbar-default .navbar-toggle .icon-bar{
			background-color: #4d4d4d;
		}

		.navbar-default .navbar-toggle:hover .icon-bar,
		.navbar-default .navbar-toggle:focus .icon-bar {
			background-color: #e6e6e6;
		}

		.navbar-default .navbar-collapse,
		.navbar-default .navbar-form {
			border-color: #ffffff;
		}

	/*NAV link*/
		.navbar-default .navbar-link {
			color: #4d4d4d;
		}
		.navbar-default .navbar-link:hover {
			color: #e6e6e6;
		}

	/*NAV media query*/
	@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: #4d4d4d;
			}

		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #e6e6e6;
			}

		.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
			color: #e6e6e6;
			background-color: #4d4d4d;
			}
	}

/* User Zone*/

	/* LogIn */

		/* Log In Forms*/
		

		/* LOG IN BUTTON */
		.btn-li {
			color: #4D4D4D;
			background-color: #FF2A2A;
			border-color: #4D4D4D;
			margin-bottom: 8px;
		}

		.btn-li:hover, .btn-li:focus {
			color: #e6e6e6;
			background-color: #4d4d4d;
		}

/* SEARCH FORM */
	/* search BUTTON */
	.btn-src {
		color: #e6e6e6;
		background-color: #4D4D4D;
		border-color: #4D4D4D;
	}

	/* search FORM */
	.form-control {
		border-color: #4D4D4D;		
	}

	.form-control>placehoder {
		color: blue;
	}

/* FORMS */
	.form-group{
		border-color: #4D4D4D;
	}